# ========== Backend ==========
/back-end/node_modules
/back-end/.env
/back-end/.env.test
/back-end/test.db
/back-end/.pnp
/back-end/.pnp.js
/back-end/coverage

# ========== Frontend ==========
/front-end/node_modules
/front-end/build
/front-end/coverage

# Dependencies
/front-end/.pnp
/front-end/.pnp.js

# Env files
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local

# Logs
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

# Misc
/front-end/.DS_Store
